.app-header {
    width: 100%;
    height: 60px;
    background: linear-gradient(to right, #24C6DC, #514A9D);
}

.app-header > a {
    display: block;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    line-height: 60px;
    text-decoration: none;
    font-size: 2em;
    font-family: 'Slabo 27px', serif;
    color: #fff;
}